

@charset "UTF-8";
/* BASIC */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #fed136;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #fed136;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #fed136;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}



h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}



a {
  color: #BE8479;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #BE8479;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}


/* Page */

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

/* NAVBAR */
navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {

  width: 40%;
  text-align: left;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  margin-left: 0rem;

}
.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-logo{
  width: 5%;
  text-align: left;
  display: inline-block;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 20;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}


#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #16181b;
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  background-color: #BE8479d8;
  border: 0;
  

}

#mainNav .navbar-brand  {
  transition: font-size 0.3s ease-in-out;
  color: #BE8479d8;
  text-align: left;
  
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #BE8479d8;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    background-color:rgba(22, 24, 27, 0.856);
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  #mainNav .navbar-brand {

    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
    color: #BE8479d8;
    text-align: left;
    font-weight: 800;

  }

  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #BE8479;
    font-size: 1em;
  }

  #mainNav .nav-logo {
    display: block;

  }

  #mainNav .nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #BE84799f;
  }
  #mainNav .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0d0b0c;
    transition: background-color 0.5s ease-in-out;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 2em;
    transition: font-size 0.3s ease-in-out;
    text-align: left;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
    
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  #mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    background-color: rgba(22, 24, 27, 0.856);
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  #mainNav .navbar-brand {

    font-size: 0.75em;
    transition: font-size 0.3s ease-in-out;
    color: #BE8479d8;
    text-align: left;

  }

  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }

  #mainNav .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #BE8479;
    font-size: 0.75em;
  }
  #mainNav .nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #BE84799f;
  }
  #mainNav .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }

  #mainNav .nav-logo {
    display: block;

  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0d0b0c;
    transition: background-color 0.5s ease-in-out;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1em;
    transition: font-size 0.3s ease-in-out;
    text-align: left;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
    
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


header.masthead {
    padding-top: 10rem;
    padding-bottom: 2rem;
    text-align: center;
    background-image: url("img/background_WW.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .masthead-heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 0rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 10rem;
      padding-bottom: 2rem;
    }
    header.masthead .masthead-subheading {
      font-size: 1rem;
      font-style: italic;
      line-height: 2rem;
      margin-bottom: 1rem;
      color: #000;
    }
    header.masthead .masthead-heading {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1rem;
      margin-bottom: 1rem;
      color: #000;
    }
  }



  * {
    box-sizing: border-box;
  }

  /* Style the search field */
  .search  {
    background: #d5d5d5;
  }
  /* Style the search field */
  .search input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid #000;
    float: left;
    background: transparent;
    width:10%;
    height: 40px;
    margin-left: 45%;
    margin-right: 5px;
    margin-top: 1rem;
    border-radius: 40px;
    transition: 0.5s;
  }
  .search input[type=text]:focus {
    width:30%;
    margin-left: 35%;
    transition: 0.5s;
  }
  
  /* Style the submit button */
  .search button {
    float: left;
    width: 40px;
    height: 40px;
    background: #BE8479;
    color: white;
    font-size: 15px;
    border: 1px solid #BE8479;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 50%;
  }
  
  .search button:hover {
    background: #be8579bf;
  }
  
  /* Clear floats */
  .search::after {
    content: "";
    clear: both;
    display: table;
  }


  .searchBox {
    display: inline-block;
    width: 70rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background: #BE8479;
    border-radius: 40px;
    padding: 10px;


}

.searchBox:hover > .searchInput {
    width: 80%;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #0d0b0c;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0d0b0c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 80%;
    margin-left: 5px;

}


::-webkit-input-placeholder { /* WebKit, Blink, Edge,Chrome */
    color: #000;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #000;
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity:  1;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::placeholder { /* Modern browsers */
  color: #000;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  





#learnings-container{
  padding-top: 2rem;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  background-color: #f8f9fa;
}



#learnings-container .row2 {
  margin: 8px -16px;

}

/* Add padding BETWEEN each column (if you want) */
#learnings-container.row2,
#learnings-container .row2 > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
#learnings-container .column {
  width: 30%;
  transition: 0.5s;
  display: inline-block; /* Hide columns by default */
}

/* Clear floats after rows */
#learnings-container .row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
#learnings-container .content {
  background-color: black;
  padding-bottom: 0.25rem;
  margin:2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#learnings-container .content:hover {
  margin: 1rem;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 #be8579b8, 0 6px 20px 0 #be8579a6;
}


/* The "show" class is added to the filtered elements */
#learnings-container .show {
  display: block;
}

#learnings-container .column .img-learning {
  position:relative ;
  width:100%; 
  height: 15rem; 
  overflow: hidden; 
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#learnings-container .column .learnings-title {
  color: #BE8479;
  margin-bottom: -1rem;
}

#learnings-container .column .learnings-subtitle {
  color: rgb(208, 206, 206);
  font-style: italic;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}





















/* FOOTER */
.footer {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.align-items-center {
  align-items: center !important;
}

a {
  color: #BE8479;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #BE8479;
  text-decoration: underline;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.col-lg-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.mt-3,
  .my-3 {
    margin-top: 1rem !important;
  }
  
  .mb-3,
  .my-3 {
    margin-bottom: 1rem !important;
  }
  
.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
.btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}